table, th, td {
  border: 1px solid whitesmoke;
  border-collapse: collapse;
  text-align: center;
  width: 100px;
  font-family: cursive;
}
th {
	height: 80px;
}
.header {
	transform: scale(1.01);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
/* .header, .lightRed :hover {
	transform: scale(1.2);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
} */
td {
	height: 80px;
}
td:hover{
	transform: scale(1.007);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
tr:hover{
	transform: scale(1.0007);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
table {
	width: 90%;
	height: 350px;
	margin: auto;
}
.header{
	background-color: rgba(74, 163, 219, 0.936);
	font-size: 20px;
}
.body{
	font-size: 20px;
	color: rgb(40, 25, 151);
	transform: scale(1.005);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.background-div {
            width: 100%;
            height: 530px; 
            background-image: url('https://cdn.wallpapersafari.com/62/69/KEzRf2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
.blue {
	/* background-color: #87CEFA; */
	background-color: rgba(162, 213, 244, 0.9);
}

.lightRed {
	/* background-color: #FFA07A; */
	color: red;
	transform: scale(1.005);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.hover:hover {
	/* background-color: rgb(239, 141, 103); */
	transform: scale(1.2);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
